@font-face {
	font-family: Geomanist-Regular;
	src: url('fonts/Geomanist-Regular.otf');
}

@font-face {
	font-family: Geomanist-Bold;
	src: url('fonts/Geomanist-Bold.otf');
}

#header {
	background-color: #000;

}

#header a {
	color: #fff;
	transition: color 0.5s;
	font-family: 'Geomanist-Bold', helvetica, sans-serif;
	}

#header a span{
	color: #ffffff;
	border-bottom: 2px solid;
	padding-bottom: 10px;
	border-color: transparent;
	transition: border-bottom 0.5s;
}

#header a span:hover{
	color: #7ed321;
	border-color: #7ed321;
}


#header a:hover {
	color: #7ed321;
	border-color: #7ed321;
}

#header a:active {
	color: #7ed321;
	border-color: #7ed321;
}


#header img {
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	vertical-align: top;
	margin-top: -15px;
}


#header li {
	margin-left: 30px;
	font-size:20px;
}


.navbar {
	padding-top: 25px;
	padding-bottom: 20px;

}

.navbar-header a {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.navbar-brand {
	font-size: 30px;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	border-bottom: none;

}

.navbar-inverse {
	background-color: #000000;
}

.top {
	padding-top: 60px;
}

.bottom {
	padding-bottom: 20px;
}

.homepage-main {
    min-height: 600px;
    background-image: url('images/mainimage.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.vertical-text-main {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-25%);
}

.wheredoweplay {
	padding-top: 30px;
	padding-bottom: 20px;
}

.wanttocollaborate {
	padding-top: 30px;
}

.wanttoplay {
	padding-top: 30px;
	padding-bottom: 20px;
}

.instagram{
	padding-top: 20px;
	padding-bottom: 40px;
}

.instagram h2 {
	padding-bottom: 20px;
}


.theplayers {
	padding-top: 80px;
}

.container2 {
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 88%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

img.playerpics {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


div.vertical-container {
    height: 570px;
    position: relative;
}
div.vertical-text-para{
position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-60%);
}

form.formpadding {
	padding-top: 20px;
}

.formmaxwidth input {
	max-width: 400px;
	display: inline-block;
}

ul.navtheclub li{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 18px;
	display: inline-block;
   	padding-right: 40px;
   	padding-top: 40px;
}


.breadcrumb>.active {
	color: #000000;
}


li.active {
	color: #000000;
}


.textcenter {
	text-align: center;
}

.signoff p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.caption p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #999;
}

ol.breadcrumb {
	background-color: #ffffff;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	padding-left: 0px;
}



h1 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 50px;
}

h2 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 32px;
	padding-top: 20px;
}

body {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	padding-top: 70px;
	color: #000;
}


p {
	font-family: 'Geomanist-Regular', helvetica, sans-serif;
	font-size: 18px;
	line-height: 28px;
}


a.link {
    color: #CBCBCB;
    font-family:'Geomanist-Bold', helvetica, sans-serif;
    transition: color 0.5s;
    border-bottom: 2px solid;
    border-color: transparent;
	transition: border-bottom 0.5s;
}

a.link:hover {
  color: #7ED321;
  text-decoration: none;
  border-color: #7ed321;

 }


button.enterDetails {
	font-family: 'Geomanist-Bold', helvetica, sans-serif;
	font-size: 16px;
	border-radius: 0px;
	background-color: #7ED321;
	vertical-align: middle;
	border: 0px;
	min-width: 190px;
	height: 48px;
	transition: background-color 0.5s;
}

button.enterDetails:hover {
	background-color: #7DC42E;

}

button.enterDetails:focus {
	outline:0;
}


button.enterDetails img {
	padding-left: 3px;
	transform: translate(0px,0);
	transition: all 0.5s;
}

button.enterDetails img:hover {
	transform: translate(10px,0);

}

.form-group input {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
    border: 1px solid #eee;
    color: #000;
    height: 48px;
    padding: 0 20px;
    min-width: 240px;
    border-radius: 0px;
}

input.form-control:focus {
  border-color: #7DC42E;
  box-shadow: none;
}

.btn-secondary {
	padding-left: 10px;
}

.btn-secondary img {
	padding-left: 5px;
	cursor: pointer;
	transform: translate(0px,0);
	transition: all 0.5s;
}

.btn-secondary img:hover {
	transform: translate(10px,0);
}


.btn-secondary a {
	color: #000000;
	border-bottom: none;
	font-size: 16px;
  	transition: color 0.5s;
  	text-decoration: none;
}

.btn-secondary a:hover {
	color: #7DC42E;
}


#footer p {
	color: #ffffff;
	font-family:'Geomanist-Regular', helvetica, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding-top: 30px;
	text-align: center;
	background-color: #000000;
	min-height: 80px;
}


.success {
	padding-top: 60px;
}

.success h2 {
	padding-top:0px
}





