@font-face {
	font-family: Geomanist-Regular;
	src: url('fonts/Geomanist-Regular.otf');
}

@font-face {
	font-family: Geomanist-Bold;
	src: url('fonts/Geomanist-Bold.otf');
}

#header {
	background-color: #000;

}

#header a {
	color: #fff;
	transition: color 0.5s;
	font-family: 'Geomanist-Bold', helvetica, sans-serif;

}

#header a:hover {
	color: #7ed321;
}

#header img {
	width: 50px;
	margin-right: 10px;
	display:inline-block;
	vertical-align: top;
	margin-top: -15px;
}


#header li {
	margin-left: 30px;
	font-size:20px;
}


.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-header a {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.navbar-brand {
	font-size: 30px;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.navbar-inverse {
	background-color: #000000;
}

.submit-button {
	background-color: #7ed321;
	text-align: center;
}

.homepage-main {
    min-height: 600px;
    background-image: url('images/mainimage.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.vertical-text-main {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-25%);
}


.jumbotron {
	background-color: #ffffff
}


.jumbotron h1{
	text-align: center;
	font-size: 50px;
}

.jumbotron p {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
	font-size: 18px;
	line-height: 28px;
}


.collaborations {
	padding-bottom: 30px;
}

.whoarewe {
	padding-top: 30px;
}

.wheredoweplay {
	padding-top: 40px;
}

.wanttocollaborate {
	padding-top: 40px;
}

.instagram {
	padding-top: 40px;
	padding-bottom: 40px;
}

.image3 {
	padding-top: 30px;
}


div.vertical-container {
    height: 570px;
    position: relative;
}
div.vertical-text-para{
position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

form.formpadding {
	padding-top: 10px;
}

.formmaxwidth input {
	max-width: 400px;
	display: inline-block;
}

ul.navtheclub li{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 18px;
	display: inline-block;
   	padding-right: 40px;
   	padding-top: 40px;
}


.breadcrumb>.active {
	color: #000000;
}


li.active {
	color: #000000;
}


.textcenter {
	text-align: center;
}

.signoff p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.caption p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #999;
}

.row {
	padding-top: 30px;
}

.intro {
	padding-bottom: 30px;
}

.subheadpad {
	padding-bottom: 10px;
}

.imagepadding {
	padding-bottom: 30px;
}

ol.breadcrumb {
	background-color: #ffffff;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	padding-left: 0px;
}

h1 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 50px;
}

h2 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 32px;
}

body {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	padding-top: 70px;
	color: #000;
}

a {
    color: #CBCBCB;
    font-family:'Geomanist-Bold', helvetica, sans-serif;
    transition: color 0.5s;
}

p {
	font-family: 'Geomanist-Regular', helvetica, sans-serif;
	font-size: 18px;
	line-height: 28px;
}

a:hover {
  color: #7ED321;
  text-decoration: none;
}

a:focus {
  color: #7ED321;
  text-decoration: none;
}


button {
	font-family: 'Geomanist-Bold', helvetica, sans-serif;
	font-size: 16px;
	border-radius: 0px;
	background-color: #7ED321;
	vertical-align: middle;
	border: 0px;
	min-width: 190px;
	height: 48px;
	transition: background-color 0.5s;
}

button:hover {
	background-color: #7DC42E;

}

button:focus {
	outline:0;
}


.form-group input {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
    border: 1px solid #eee;
    color: #000;
    height: 48px;
    padding: 0 20px;
    min-width: 240px;
    border-radius: 0px;
}

input.form-control:focus {
  border-color: #000000;
  box-shadow: none;
}




footer {
	color: #ffffff;
	font-family:'Geomanist-Regular', helvetica, sans-serif;
	text-align: center;
	background-color: #000000;
	min-height: 80px;
	padding-top: 30px;
}





