@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face {
  font-family: Geomanist-Regular;
  src: url("fonts/Geomanist-Regular.otf"); }

@font-face {
  font-family: Geomanist-Bold;
  src: url("fonts/Geomanist-Bold.otf"); }

body,
img {
	  animation: fade 1s both;
}


#header {
  background-color: #000;
  margin-bottom: 70px; }

#header a {
  color: #fff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  font-family: 'Geomanist-Bold', helvetica, sans-serif; }

#header a span {
  color: #fff;
  border-bottom: 2px solid;
  padding-bottom: 8px;
  border-color: transparent;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; }

#header a span:hover {
  color: #7ed321;
  border-color: #7ed321; }

#header .selected a span {
  color: #7ED321; }

#header img {
  width: 40px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: -15px; }

#header li {
  margin-left: 30px;
  font-size: 20px; }

.navbar {
  padding-top: 20px;
  padding-bottom: 10px; }

.navbar-header a {
  font-family: 'Geomanist-Bold', helvetica, sans-serif; }

.navbar-brand {
  font-size: 30px;
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  border-bottom: none; }

.navbar-inverse {
  background-color: #000000; }

.bottom {
  padding-bottom: 20px; }

.homepage-main {
  min-height: 570px;
  background-image: url("/images/mainimage.jpg");
  background-repeat: no-repeat;
  border-radius: 0px;
  margin-bottom: 40px; }

.textblock {
  width: 60%;
  margin: auto; }

.vertical-text-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%); }

#whoarewe {
	padding-top: 50px;
}

.wheredoweplay {
  padding-top: 50px;
  padding-bottom: 20px; }

.wanttocollaborate {
  padding-top: 30px; }

.wanttoplay {
  padding-top: 50px;
  }

.instagram {
  padding-top: 20px;
  padding-bottom: 40px; }

.instagram h2 {
  padding-bottom: 20px; }

.container2 {
  position: relative;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  -o-transition: filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s; }

.container2:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.center {
  position: absolute;
  left: 0;
  top: 88%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s; }

.center:hover {
  cursor: pointer;
  color: #7ED321; }

h3.centersmall {
  position: absolute;
  left: 0;
  top: 83%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s; }

h3.centersmall:hover {
  cursor: pointer;
  color: #7ED321; }

img.playerpics {
  width: 100%;
  height: auto;
  margin-bottom: 30px; }

.alextext {
  background-color: #000000;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 23.5%;
  padding-left: 30px;
  padding-right: 30px; }

.readmore {
  cursor: pointer; }

img.theclubpics {
  margin-top: 20px; }

div.vertical-container {
  height: 570px;
  position: relative; }

div.vertical-text-para {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%); }



#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 100%;
    padding-bottom: 3%;
    min-height: 50px;
   }

   #mc_embed_signup .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 0%;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 0%;
}

/* Changes the style of the overall form */
#mc_embed_signup {
    color: #000000;
    text-align: center;
    width:40%;
    margin: auto;
    border-radius: 0;
}


/* Adds extra space around the input boxes */

#mc_embed_signup .mc-field-group input {
	  border-radius: 0;
	  text-indent: 2.5%;
}

/* Styles the input boxes */
#mc_embed_signup  input {
	font-family: 'Geomanist-Regular', helvetica, sans-serif;;
    background-color: #fff;
    color: #1F1B1C;
    font-size: 16px;
    font-weight: 300;
    padding: 16px;
    width: 70%;
    border: 1px solid #ddd;
    height: 48px;
    border-radius: 0;
}


/* Styles the subscribe button */
#mc_embed_signup .buttonnew {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	margin-top: 10px;
    color: #000000;
    width: 200px;
    border: 0;
    border-radius: 0;
    margin: 20px auto;
    text-transform: uppercase;
    transition: all 0.5s;
    background: #7ED321 url(/images/arrow_shape.svg) no-repeat 72% 50%;
    background-size: 17px 17px;
}


#mc_embed_signup .buttonnew:hover  {
	background: #7DC42E url(/images/arrow_shape.svg) no-repeat 77% 50%;
}

#mc_embed_signup .buttonnew:focus {
	outline: none;
}

#mc_embed_signup .mc-field-group input:focus,
textarea:focus {
	border: 1px solid #7ED321;
	outline: 0;
	border-radius: 0;
}


#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
	display: inline-block;
    margin: 2px 0 1em 0;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.85);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    z-index: 1;
    color: #e85c41;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 100%;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
    width:100%;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding:0;
    font-family:'Geomanist-Regular', helvetica, sans-serif;
    top: -1.5em;
    z-index: 1;
    width: 100%;
    text-align: center;

}

#mc_embed_signup div#mce-responses {
    /* float: left; */
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both;

   }





ul.navtheclub li {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 18px;
  display: inline-block;
  padding-right: 40px;
  padding-top: 40px; }

.breadcrumb .active {
  color: #000000; }

.textcenter {
  text-align: center; }

.signoff p {
  font-family: 'Geomanist-Bold', helvetica, sans-serif; }

.caption p {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #999; }

ol.breadcrumb {
  background-color: #fff;
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 13px;
  padding-left: 0px; }

h1 {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 50px; }

h2 {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 32px;
  padding-top: 20px; }

body {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  padding-top: 70px;
  color: #000; }

p {
  font-family: 'Geomanist-Regular', helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px; }

.smalltext {
  font-size: 11px; }

a.link {
  color: #CBCBCB;
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  border-bottom: 2px solid;
  border-color: transparent;
  -webkit-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; }

a.link:hover {
  color: #7ED321;
  text-decoration: none;
  border-color: #7ed321; }

button.enterDetails {
  font-family: 'Geomanist-Bold', helvetica, sans-serif;
  font-size: 16px;
  border-radius: 0px;
  background-color: #7ED321;
  vertical-align: middle;
  border: 0px;
  min-width: 190px;
  height: 48px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

button.enterDetails:hover {
  background-color: #7DC42E; }

button.enterDetails:focus {
  outline: 0; }

button.enterDetails img {
  padding-left: 3px;
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

button.enterDetails:hover img {
  -webkit-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0); }

/*.form-group input {
  font-family: 'Geomanist-Regular', helvetica, sans-serif;
  border: 1px solid #eee;
  color: #000;
  height: 48px;
  padding: 0 20px;
  min-width: 240px;
  border-radius: 0px; }

textarea {
  font-family: 'Geomanist-Regular', helvetica, sans-serif;
  border: 1px solid #eee;
  color: #000;
  height: 48px;
  padding: 0 20px;
  min-width: 240px;
  border-radius: 0px; }

input.form-control:focus {
  border-color: #7DC42E;
  -webkit-box-shadow: none;
  box-shadow: none; }

input#formGroupExampleInput {
  padding-bottom: 48px; }*/

.btn-secondary {
  padding-left: 10px; }

.btn-secondary img {
  padding-left: 5px;
  cursor: pointer;
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.btn-secondary:hover img {
  -webkit-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  transform: translate(10px, 0); }

.btn-secondary a {
  color: #000000;
  border-bottom: none;
  font-size: 16px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none; }

.btn-secondary a:hover {
  color: #7DC42E; }

.success {
  padding-top: 60px;
  padding-bottom: 60px; }

.successcollab {
  padding-top: 60px;
  padding-bottom: 60px; }

.left-image {
  min-height: 570px;
  background-image: url("../images/nextmatch_image.jpg");
  background-repeat: no-repeat;
  padding-bottom: 40px; }

.right-image {
  min-height: 570px;
  background-image: url("../images/theplayers_image.jpg");
  background-repeat: no-repeat;
  margin-bottom: 40px; }

#homepage-title {
  color: #fff; }

.playpicpadding {
  margin-bottom: 60px; }

p.shaded {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  top: 400px;
  padding-right: 40px; }

p#second-para {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  top: 450px;
  padding-right: 40px; }

h2#white-text {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  top: 410px;
  padding-right: 40px; }

.vertical-text-main.white {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  color: #fff;
  text-align: center;
  bottom: -350px; }

.vertical-text-para h2 {
  margin-top: 0px; }

a.homepage-top-link-white {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  top: 500px;
  padding-right: 40px; }

a.homepage-top-link {
  color: #fff; }

.white-margin {
  margin-left: 0px; }

.imagebottom {
  margin-bottom: 30px; }

.imagetop {
  margin-top: 30px; }

#formGroupExampleInput {
  min-height: 100px; }

#footer {
  background-color: #000000;
  color: #fff;
  font-family: 'Geomanist-Regular', helvetica, sans-serif;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }

#footer p {
  font-size: 13px; }

.dividers {
  padding-top: 10px; }

#footer img {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

#footer img:hover {
  opacity: 0.5; }

.right {
  float: right; }

.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flipper {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #000000;
  color: #fff;
  width: 360px;
  height: 371px;
  padding: 100px 20px 0px 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 1199px) {
  .back {
    display: block;
    max-width: 100%;
    height: 300px;
    padding: 50px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; } }

@media (max-width: 991px) {
  #header li {
    margin-left: 0px;
    font-size: 18px; }
  .back {
    display: block;
    max-width: 100%;
    height: 227px;
    padding: 50px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px; }
  .center {
    top: 85%; }
  h3.centersmall {
    position: absolute;
    left: 0;
    top: 79%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    padding-top: -10px; }
  p.playerstats {
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 767px) {
  .textblock {
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px; }
  .center {
    top: 91%;
    font-size: 24px; }
  h3.centersmall {
    position: absolute;
    left: 0;
    top: 83%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    padding-top: -10px; }
  .form-group input {
    margin-bottom: 20px; }
  .flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .flipper {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative; }
  .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    width: 100%;
    margin-bottom: 30px; }
  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #000000;
    color: #fff;
    width: 737px;
    height: 700px;
    margin-bottom: 30px;
    padding: 100px 40px 0px 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  p.playerstats {
    font-size: 18px;
    line-height: 32px;
    padding-right: 40px;
    padding-left: 40px; }

    #mc_embed_signup {
    	width:100%;
	}
}

@media (max-width: 700px) {
  .center {
    top: 91%;
    font-size: 24px; }
  h3.centersmall {
    position: absolute;
    left: 0;
    top: 83%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    padding-top: -10px; }
  .form-group input {
    margin-bottom: 20px; }
  .flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .flipper {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative; }
  .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    width: 100%;
    margin-bottom: 30px; }
  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #000000;
    color: #fff;
    width: 737px;
    height: 600px;
    margin-bottom: 30px;
    padding: 100px 40px 0px 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  p.playerstats {
    font-size: 18px;
    line-height: 32px;
    padding-right: 40px;
    padding-left: 40px; } }

@media (max-width: 400px) {

#header a {
 margin-bottom:10px;
 margin-top:10px;}

#header a span {
  padding-bottom: 5px;
}
  .left-image {
    min-height: 570px;
    background-image: url(../images/nextmatch_image.jpg);
    background-repeat: no-repeat;
    padding-bottom: 40px;
    margin-right: 15px; }
  .right-image {
    min-height: 570px;
    background-image: url(../images/theplayers_image.jpg);
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-right: 15px;
    margin-top: 40px; }
  .homepage-main {
    min-height: 400px;
    background-image: url(/images/mainimage.jpg);
    background-repeat: no-repeat;
    border-radius: 0px;
    margin-bottom: 40px; }
  .form-club {
    margin-bottom: 10px; }
  .form-group {
    margin-bottom: 0px; }
  textarea.form-control {
    margin-bottom: 10px; }
  button.enterDetails {
    width: 100%; }
  .form-group input {
    margin-bottom: 20px; }
  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #000000;
    color: #fff;
    width: 737px;
    height: 382px;
    margin-bottom: 30px;
    padding: 100px 40px 0px 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  h3.centersmall {
    position: absolute;
    left: 0;
    top: 83%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    padding-top: -10px; }
  .center {
    top: 88%;
    font-size: 18px; } }

/*# sourceMappingURL=website-css.css.map */
