@font-face {
	font-family: Geomanist-Regular;
	src: url('css/fonts/Geomanist-Regular.otf');
}

@font-face {
	font-family: Geomanist-Bold;
	src: url('css/fonts/Geomanist-Bold.otf');
}

#header {
	background-color: #000;

}

#header a {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Geomanist-Bold', helvetica, sans-serif;

}

#header img {
	float: left;
	width: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
}

a:hover,
a:focus {
  color: #7ED321;
  text-decoration: none;
}

#header li {
	margin-left: 30px;
	font-size:20px;
}

.navbar-header {
	padding-left: 60px;
}

.navbar-header a {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
  color: #7ed321;
}

.navbar-brand {
	font-size: 30px;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.navbar-inverse {
	background-color: rgba(32, 35, 41, 0.8);
}

.submit-button {
	background-color: #7ed321;
	text-align: center;
}

.jumbotron {
	background-color: #ffffff
}


.jumbotron h1{
	text-align: center;
	font-size: 50px;
}

.jumbotron p {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
	font-size: 18px;
	line-height: 28px;
}


.collaborations {
	padding-bottom: 30px;
}

.whoarewe {
	padding-top: 30px;
}

.wheredoweplay {
	padding-top: 40px;
}

.wanttocollaborate {
	padding-top: 40px;
}

.instagram {
	padding-top: 40px;
}

.image3 {
	padding-top: 30px;
}

form.formpadding {
	padding-top: 10px;
}

.formmaxwidth input {
	max-width: 400px;
	display: inline-block;
}

ul.navtheclub li{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 18px;
	display: inline-block;
   	padding-right: 40px;
   	padding-top: 40px;
}


.breadcrumb>.active {
	color: #000000;
}


li.active {
	color: #000000;
}


.textcenter {
	text-align: center;
}

.signoff p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
}

.caption p{
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #999;
}

.row {
	padding-top: 30px;
}

.intro {
	padding-bottom: 30px;
}

.subheadpad {
	padding-bottom: 10px;
}

.imagepadding {
	padding-bottom: 30px;
}

ol.breadcrumb {
	background-color: #ffffff;
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 13px;
	padding-left: 0px;
}


.btn {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
    color: #000;
    border-radius: 0px;
    background-color: #7ED321;
}

.secondarybutton {
    font-weight: 500;
    font-size: inherit;
    line-height: 1.5;
}

h1 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 50px;
}

h2 {font-family:'Geomanist-Bold', helvetica, sans-serif;
	font-size: 32px;
}

body {
	font-family:'Geomanist-Bold', helvetica, sans-serif;
	padding-top: 70px;
	color: #000;
}

a {
    color: #CBCBCB;
    text-decoration: none;
    font-family:'Geomanist-Bold', helvetica, sans-serif;
}

a:hover,
a:focus {
  color: #7ED321;
  text-decoration: none;
}

button.btn.btn-success {
	font-family: 'Geomanist-Bold', helvetica, sans-serif;
	font-size: 16px;
	border-radius: 0px;
	background-color: #7ED321;
	vertical-align: middle;
	border: 0px;
	min-width: 190px;
	height: 48px;
}


.form-group input[type=text] {
	font-family:'Geomanist-Regular', helvetica, sans-serif;
    border: 1px solid #eee;
    color: #000;
    height: 48px;
    padding: 0 20px;
    min-width: 240px;
    border-radius: 0px;
}

