h1 {font-family: geomanist-bold; 
	font-size: 60px;
}

h2 {font-family: geomanist-bold;
	font-size: 36px;
}

h3 {font-family: geomanist-bold;
	font-size: 36px;
	}

.caption {font-family:
	font-size: geomanist-regular;
	font-size: 13px;
}

ul .nav{list-style-type: none;

}
.submit-button {background-color: #7ed321;
				text-align: center;
}


