#header {
	background-color: #000;

}

#header a {
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: geomanist-bold;
}

#header img {
	float:  left;
	width: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
}


#header li {
	margin-left: 30px;
	font-size:20px;
}

.navbar-brand {
	font-size: 30px;
}

.navbar-inverse {
	background-color: rgba(32, 35, 41, 0.8);
}


h1 {font-family: geomanist-bold;
	font-size: 50px;
}

h2 {font-family: geomanist-bold;
	font-size: 32px;
}

body {
	padding-top: 70px;
}

.submit-button {
	background-color: #7ed321;
	text-align: center;
}

.jumbotron {
	background-color: #ffffff
}


.jumbotron h1{
	text-align: center;
	font-size: 50px;
}

.jumbotron p
	{font-family: geomanist;
	font-size: 18px;
	line-height: 28px;
}

ul.navtheclub li{
	font-family: geomanist-bold;
	font-size: 18px;
	color: #000;
	display: inline-block;
   	padding-right: 40px;
   	padding-top: 40px;
}

.textcenter {
	text-align: center;
}

.signoff p{
	font-family: geomanist-bold;
}

.caption p{
	font-family: geomanist-bold;
	font-size: 13px;
	font-weight: 400;
	color: #999;
}

.row {
	padding-top: 30px;
}

ol.breadcrumb  {
	background-color: #ffffff;
	font-family: geomanist-bold;
	font-size: 13px;
}

.secondary-button {
    font-weight: 500;
    font-size: inherit;
    line-height: 1.5;
}

